body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::selection {
  background: #a392fb;
  color: #000;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
  margin: 0;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: clamp(1.5rem, 0.0938rem + 6vw, 4.625rem);
}
h2 {
  font-size: clamp(1.25rem, -0.3125rem + 5vw, 2.5rem);
}
h3 {
  font-size: clamp(1.125rem, -0.2813rem + 4.5vw, 2.25rem);
}
h4 {
  font-size: clamp(1rem, 0.5rem + 3vw, 1.75rem);
}
h5 {
  font-size: clamp(0.9375rem, 0.7031rem + 0.75vw, 1.125rem);
}

p {
  font-size: clamp(0.9375rem, 0.7031rem + 0.75vw, 1.125rem);
  font-size: clamp(0.9375rem, 0.7031rem + 1.95vw, 1.325rem);
  color: #333;
  line-height: 1.6;
}

main {
  overflow: hidden;
  max-width: 100vw;
}

.btn {
  background-color: rgb(253, 70, 210);
  font-size: clamp(0.9375rem, 0.7031rem + 0.75vw, 1.125rem);
  padding: 10px 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1;
  color: #fff;
  display: inline-block;
  margin: 20px 0;
  &:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 3px rgb(253, 70, 210);
  }
  &.black {
    background-color: #000;
    &:hover {
      color: #000;
      background-color: transparent;
      box-shadow: inset 0 0 0 3px #000;
    }
  }
}

.border {
  background: url("../../public/images/bg-lines.png");
  height: 10px;
  width: 100%;
}

.specialIngress {
  transform: rotate(-2deg);
  display: inline-block;
  background: url("../../public/images/btn-splash.svg") no-repeat;
  background-size: cover;
  color: #fff;
  padding: 8px 28px;
  margin-left: -10px;
  margin-top: 10px;
}

a {
  color: #a392fb;
  text-decoration: none;
}

.textCenter {
  text-align: center;
}

header {
  background: rgba(26, 26, 26, 0.64);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border-bottom: 1px solid rgba(212, 212, 212, 0.22);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  ul {
    list-style: none;
    li {
      display: inline-block;
      a {
        font-weight: 700;
        font-size: 14px;
        color: #ededed;
        padding: 10px 20px;
        text-transform: uppercase;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 100px 20px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    li {
      display: block;
      padding: 5px 0;
    }
  }
}

.scroller {
  position: absolute;
  right: 25%;
  bottom: 25%;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  display: block;
  background-color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    background: url("../../public/images/spinner-txt.svg") no-repeat;
    background-size: cover;
    height: 90%;
    width: 90%;
    position: absolute;
    animation-name: labelSpin;
    animation-timing-function: linear;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
  &:after {
    content: "";
    background: url("../../public/images/spinner-can-content.svg") repeat-x;
    background-size: cover;
    height: 45%;
    width: 30%;
    position: absolute;
    animation-name: labelBg;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  img {
    width: 40%;
    height: auto;
  }
}

@keyframes labelSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes labelBg {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 135% 0;
  }
}

article {
  overflow: hidden;
}

.beerHero {
  width: 100%;
  height: 100vh;
  position: relative;
  pointer-events: none;
  .beerTitle {
    left: 35%;
    top: 15%;
    position: absolute;
    transform: rotate(-18deg) translateX(-50%);
    z-index: 1;
  }
  .canShadow {
    position: absolute;
    height: auto;
    width: 18%;
    max-width: 280px;
    left: 48%;
    top: 53%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.5;
  }
  .heroBeerLabel {
    position: absolute;
    bottom: 9%;
    left: 0%;
    height: 75%;
    width: 280%;
  }
  .backdrop {
    width: auto;
    height: 100%;
    background: url("../../public/images/bg-lines.png");
    .shiftLeft {
      left: -28% !important;
      width: 128% !important;
    }
    img {
      opacity: 0.9;
    }
  }
  .beerShowcase {
    width: 18%;
    max-width: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .beerSlide {
    z-index: 2;
    &.sleek {
      .beerShowcase {
        .heroBeerLabel,
        .beerLabelShading {
          height: 80%;
        }
      }
    }
  }
}

.beersOverview {
  .fadeCan {
    position: absolute;
    width: 50%;
    height: auto;
    &.one {
      position: relative;
    }
    &.three {
      left: 25%;
      top: 40%;
    }
    &.two {
      right: 0;
      top: 10%;
    }
  }
  .grid {
    min-height: 100vh;
    .col {
      position: relative;
      z-index: 1;
    }
  }
  .beersSpline {
    position: absolute;
    top: 0;
    left: 25%;
    height: 100%;
    width: 100%;
    pointer-events: none;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 0) 50%
      );
    }
  }
}

.beerBlock {
  background-color: #f5f5f5;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 90vh;
  &.black {
    background-color: #1a1a1a;
  }
}

.beerSlide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.beerDesc {
  display: block;
  position: relative;
  z-index: 1;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  p {
    font-size: clamp(0.9375rem, 0.7031rem + 1.95vw, 1.325rem);
  }
  .border {
    margin-bottom: 20px;
  }
  .grid {
    gap: 40px;
  }
  h1 {
    font-size: clamp(1.5rem, 0.0938rem + 6vw, 3.825rem);
    line-height: 1.2;
  }
  .beerHeader {
    h4 {
      margin-top: -0px;
    }
    margin-bottom: 65vh;
    &.big {
      margin-bottom: 70vh;
    }
  }
}

.landingHero {
  height: 100vh;
  position: relative;
  .container {
    position: relative;
    z-index: 2;
    > div {
      padding-top: 25vh;
    }
  }
}

.landingCan {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 70%;
  max-width: 720px;
  height: auto;
  transform: translate(-50%, -50%);
  img {
    width: 100%;
    height: auto;
  }
}

.landingSpline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero {
  overflow: hidden;
  position: relative;
  margin-bottom: 60px;
  color: #fff;
  background-color: #000;
  .bgVideo {
    position: absolute;
    opacity: 0.4;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .heroBgImage {
    opacity: 0.8;
  }
  .heroBgOverlay {
    background: url("../../public/images/bg-lines.png");
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .container {
    position: relative;
    z-index: 1;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.aboutOverview {
  color: #ccc;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #fff;
  }
  p {
    color: #ccc;
  }
  .border,
  .specialIngress {
    filter: invert(1);
  }
}

.darkSection {
  background-color: #000;
  color: #ccc;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #fff;
  }
  p {
    color: #ccc;
  }
  .border,
  .specialIngress {
    filter: invert(1);
  }
}

.singlePage {
  margin-bottom: 100px;
}

.container.landingShortDesc {
  position: relative;
  z-index: 2;
  padding-top: 280px;
  padding-bottom: 280px;
}

.container {
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
  &.beers {
    max-width: 1800px;
  }
  &.superSmall {
    max-width: 640px;
  }
  &.narrow {
    max-width: 960px;
  }
  &.smaller {
    max-width: 1140px;
  }
  &.marginSmall {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &.marginMedium {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &.marginLarge {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.beerGrid {
  margin-bottom: 100px;
  a {
    color: #fff;
    text-align: center;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    height: 100%;
    line-height: 1;
    overflow: hidden;
    position: relative;
    &.sleek {
      .beerShowcase {
        width: 25%;
        .beerLabel,
        .beerLabelShading {
          height: 80%;
        }
      }
    }
    &:after {
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.75) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      transition: all 0.2s ease-in-out;
    }
    h5 {
      position: relative;
      z-index: 1;
    }
    &.black {
      background-color: #333;
    }
    &.white {
      background-color: #f5f5f5;
    }
    .backdrop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: 0.2s ease-in-out;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 120%;
        width: auto;
        transition: 0.2s ease-in-out;
        max-width: unset;
        &.shiftLeft {
          left: 25%;
        }
      }
    }
    .beerShowcase {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 30%;
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 60px;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      .backdrop {
        opacity: 0.2;
        img {
          height: 100%;
        }
      }
      &:after {
        opacity: 1;
      }
      .beerShowcase {
        width: 34%;
        margin-top: 40px;
        margin-bottom: 80px;
        transform: rotate(15deg) translateX(-50%);
        .beerLabel {
          animation-play-state: running;
        }
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
  grid-gap: 20px;
  &.centerAlign {
    align-items: center;
  }
  .col {
    grid-column: span 12;
    box-sizing: border-box;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .col-9 {
    grid-column: span 9;
  }
  .col-8 {
    grid-column: span 8;
  }
  .col-7 {
    grid-column: span 7;
  }
  .col-6 {
    grid-column: span 6;
  }
  .col-5 {
    grid-column: span 5;
  }
  .col-4 {
    grid-column: span 4;
  }
  .col-3 {
    grid-column: span 3;
  }
}

@media (max-width: 1160px) {
  .grid {
    .col-3 {
      grid-column: span 4;
    }
  }
}

@media (max-width: 920px) {
  .grid {
    .col-9,
    .col-8 {
      grid-column: span 12;
    }
  }
  .grid {
    .col-7,
    .col-4,
    .col-3 {
      grid-column: span 6;
    }
  }

  .container {
    padding: 0 24px;
  }
}

@media (max-width: 750px) {
  .grid {
    .col,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3 {
      grid-column: span 12;
    }
  }
}

.merchOverview {
  img {
    max-width: 100%;
    height: auto;
  }
}

.blockWrap {
  overflow: hidden;
  position: relative;
  padding-bottom: 0;
}

.beerShowcaseContainer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  height: 0;
}

.beerShowcase {
  position: relative;
  overflow: hidden;
  display: inline-block;
  .beerLabelShading {
    display: block;
    position: absolute;
    bottom: 9%;
    left: 0;
    height: 75%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  .beerCan {
    width: 100%;
    height: auto;
  }
  .beerLabel {
    animation-play-state: paused;
    position: absolute;
    bottom: 9%;
    left: 0%;
    height: 75%;
    width: 280%;
    max-width: unset;
    animation-name: example;
    animation-timing-function: linear;
    animation-duration: 2s;
    /* animation-direction: alternate; */
    animation-iteration-count: infinite;
    &.two {
      left: 100%;
      animation-name: example2;
    }
  }
}

.grid {
  .beerShowcase {
    position: relative;
    overflow: hidden;
    display: inline-block;
    .beerLabelShading {
      display: block;
      position: absolute;
      bottom: 9%;
      left: 0;
      height: 75%;
      width: 100%;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
    .beerCan {
      width: 100%;
      height: auto;
    }
    .beerLabel {
      animation-play-state: paused;
      position: absolute;
      bottom: 9%;
      left: 0%;
      height: 75%;
      width: 280%;
      max-width: unset;
      animation-name: example;
      animation-timing-function: linear;
      animation-duration: 2s;
      /* animation-direction: alternate; */
      animation-iteration-count: infinite;
      &.two {
        left: 100%;
        animation-name: example2;
      }
    }
  }
}

@keyframes example {
  0% {
    left: -115%;
  }
  100% {
    left: -390%;
  }
}

@keyframes example2 {
  0% {
    left: 165%;
  }
  100% {
    left: -115%;
  }
}

@media (max-width: 760px) {
  .scroller {
    right: 15%;
    bottom: 25%;
    width: 80px;
    height: 80px;
  }
  .beerHero {
    .beerShowcase {
      width: 120px;
    }
    .canShadow {
      height: 35%;
      width: 40%;
    }
  }
  .beerDesc {
    padding: 60px 20px;
    .grid {
      gap: 20px;
    }
    /* .beerHeader {
      margin-bottom: 60vh;
    } */
  }
  footer {
    text-align: center;
    ul {
      margin-bottom: 10px;
    }
  }
  .hero .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .landingHero .container > div {
    padding-top: 35vh;
  }
  .container.landingShortDesc {
    padding-top: 210px;
    padding-bottom: 120px;
  }
  header {
    background: none;
    backdrop-filter: none;
    border: none;
    box-shadow: none;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    flex-flow: column;
    padding: 0;
    pointer-events: none;
    .logo {
      pointer-events: all;
      background: rgba(26, 26, 26, 0.64);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10.8px);
      -webkit-backdrop-filter: blur(10.8px);
      border-bottom: 1px solid rgba(212, 212, 212, 0.22);
      width: 100%;
      padding: 5px;
      text-align: center;
    }
    ul {
      pointer-events: all;
      background: rgba(26, 26, 26, 0.64);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10.8px);
      -webkit-backdrop-filter: blur(10.8px);
      border-top: 1px solid rgba(212, 212, 212, 0.22);
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      align-items: center;
      li {
        text-align: center;
        width: 25%;
        a {
          display: inline-block;
          padding: 20px 0;
          margin: 10px 0;
          width: 100%;
          box-sizing: border-box;
          line-height: 1;
          border-right: 1px solid rgba(255, 255, 255, 0.1);
        }
        &:last-child {
          a {
            border-right: none;
          }
        }
      }
    }
  }
}
